header
{
    background-color: lightgrey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

header img
{
    padding-left: 10px;
}

nav
{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(204, 204, 204);
    padding: 10px
}

nav a
{
    padding: 10px;
    color: red;
    
}

.gesamt
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
}

@media screen and (max-width: 992px) {
    .links
    {
        background-color: rgb(255, 60, 0);
        color: rgb(0, 0, 0);
        grid-column: 1/12;
        grid-row: 1/2;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-bottom: 30px;

    }

    .rechts
    {
        
        background-color: rgb(255, 60, 0);
        color: rgb(0, 0, 0);
        grid-column: 1/12;
        grid-row: 11/12;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-bottom: 30px;
    }

    .mitte
    {
        grid-column: 1/12;
        grid-row: 4/10;
    }
}

@media screen and (min-width: 992px) 
{
    .links
    {
        background-color: rgb(143, 143, 143);
        color: rgb(0, 0, 0);
        grid-column: 1;
        grid-row: 1/12;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-bottom: 30px;

    }

    .rechts
    {
        
        background-color: rgb(184, 184, 184);
        color: rgb(0, 0, 0);
        grid-column: 3;
        grid-row: 1/12;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-bottom: 30px;
    }

    .mitte
    {
        margin-top: 10px;
        margin-bottom: 10px;
        grid-column: 2;
        grid-row: 1/12;
    }
}

table tr, table th, table td
{
    padding: 10px;
    border-top: 2px, black;
    text-align: left;

}